caption{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

table{
    border-collapse: collapse;
    border: solid black 2px;
}

tr, td, th{
    padding: 10px;
    border: solid black 2px;
}

th{
    background: yellow;
}