div{
    position: absolute; 
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

caption{
    font-size: 2rem;
    font-weight: bold;
    margin: 10px;
}

table{
    border-collapse: collapse;
    border: solid black 2px;
}

tr, td, th{
    padding: 10px;
    border: solid black 2px;
}

th{
    background: yellow;
}

.realisateur{
    background: gainsboro;
}

.ligne{
    border-top: double 4px black;
}